[workspace]
members = [
   "basics/basics",
   "basics/docker_sample",
   "basics/error_handling",
   "basics/hello-world",
   "basics/json-validation",
   "basics/middleware-ext-mut",
   "basics/middleware-http-to-https",
   "basics/middleware",
   "basics/nested-routing",
   "basics/shutdown-server",
   "basics/state",
   "basics/static_index",
   "basics/todo",
   "database_interactions/basic",
   # example uses incompatible libsqlite-sys to other examples
   # "database_interactions/diesel",
   "database_interactions/mongodb",
   "database_interactions/pg",
   "database_interactions/redis",
   "database_interactions/simple-auth-server",
   "forms/form",
   "forms/multipart-s3",
   "forms/multipart",
   "graphql/async-graphql",
   "graphql/juniper-advanced",
   "graphql/juniper",
   "json/json_decode_error",
   "json/json_error",
   "json/json",
   "json/jsonrpc",
   "other/data_factory",
   "other/http-proxy",
   "other/protobuf",
   "other/run-in-thread",
   "other/server-sent-events",
   "other/unix-socket",
   "security/awc_https",
   "security/casbin",
   "security/openssl",
   "security/openssl-auto-le",
   "security/rustls-client-cert",
   "security/rustls",
   "security/web-cors/backend",
   "session/cookie-auth",
   "session/cookie-session",
   "session/redis-session",
   "template_engines/askama",
   "template_engines/handlebars",
   "template_engines/tera",
   "template_engines/tinytemplate",
   "template_engines/yarte",
   "template_engines/sailfish",
   "websockets/autobahn",
   "websockets/chat-broker",
   "websockets/chat",
   "websockets/tcp-chat",
   "websockets/websocket",
]
