[workspace]
members = [
  "./",
  "actix_redis",
  "async_db",
  "async_ex1",
  "basics",
  "cookie-auth",
  "cookie-auth-full",
  "cookie-session",
  "diesel",
  "error_handling",
  "form",
  "hello-world",
  "http-proxy",
  "json",
  "juniper",
  "middleware",
  "multipart",
  "protobuf",
  "r2d2",
  "redis-session",
  "state",
  "static_index",
  "template_askama",
  "template_tera",
  "tls",
  "unix-socket",
  "web-cors/backend",
  "websocket",
  "websocket-chat",
  "websocket-tcp-chat",
]
