[workspace]
members = [
   "auth/casbin",
   "auth/cookie-auth",
   "auth/cookie-session",
   "auth/redis-session",
   "auth/simple-auth-server",
   "basics/basics",
   "basics/error-handling",
   "basics/hello-world",
   "basics/nested-routing",
   "basics/state",
   "basics/static-files",
   "basics/todo",
   "cors/backend",
   "data-factory",
   "databases/diesel",
   "databases/mongodb",
   "databases/postgres",
   "databases/redis",
   "databases/sqlite",
   "docker",
   "forms/form",
   "forms/multipart-s3",
   "forms/multipart",
   "graphql/async-graphql",
   "graphql/juniper-advanced",
   "graphql/juniper",
   "guards",
   "http-proxy",
   "https-tls/awc-https",
   "https-tls/openssl-auto-le",
   "https-tls/openssl",
   "https-tls/rustls-client-cert",
   "https-tls/rustls",
   "json/json-decode-error",
   "json/json-error",
   "json/json-validation",
   "json/json",
   "json/jsonrpc",
   "middleware/middleware-encrypted-payloads",
   "middleware/middleware-ext-mut",
   "middleware/middleware-http-to-https",
   "middleware/middleware",
   "protobuf",
   "run-in-thread",
   "server-sent-events",
   "shutdown-server",
   "templating/askama",
   "templating/fluent",
   "templating/handlebars",
   "templating/minijinja",
   "templating/sailfish",
   "templating/tera",
   "templating/tinytemplate",
   "templating/yarte",
   "unix-socket",
   "websockets/autobahn",
   "websockets/chat-actorless",
   "websockets/chat-broker",
   "websockets/chat-tcp",
   "websockets/chat",
   "websockets/echo-actorless",
   "websockets/echo",
]
resolver = "2"

[workspace.dependencies]
actix-files = "0.6"
actix-web = "4"
