[package]
name = "websocket"
version = "1.0.0"
edition = "2021"

[[bin]]
name = "websocket-server"
path = "src/main.rs"

[[bin]]
name = "websocket-client"
path = "src/client.rs"

[dependencies]
actix = { workspace = true }
actix-codec = { workspace = true }
actix-files = { workspace = true }
actix-web = { workspace = true }
actix-web-actors = { workspace = true }
awc = "3"

env_logger.workspace = true
futures-util = { version = "0.3.17", default-features = false, features = ["std", "sink"] }
log.workspace = true
tokio = { version = "1.13.1", features = ["full"] }
tokio-stream = "0.1.8"
