[package]
name = "templating-yarte"
version = "1.0.0"
publish = false
edition = "2021"

[dependencies]
actix-web.workspace = true
env_logger.workspace = true
yarte = { version = "0.15", features = ["bytes-buf", "html-min"] }
derive_more.workspace = true

[build-dependencies.yarte_helpers]
version = "0.15.6"
default-features = false
features = ["config"]
